.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49,49,49,0.8);
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content p {
    line-height: 1.4;
}

.close-modal {
    position: absolute;
    top:10px;
    right: 10px;
    padding: 5px 7px;
}

.modal-content {
    color: black;
}
