<html>
    <body>
        <p>Vous allez payer {{ price }} {{ currency }}</p>
        <form method="POST"
              action="/payment/success?redirectUrl={{ success }}&operationId={{ operationId }}">
            <label>
                Titulaire :
                <br>
                <input name="cardHolder"/>
            </label>
            <br>
            <label>
                Numéro de la carte :
                <br>
                <input name="cardNumber"/>
            </label>
            <br>
            <label>
                Date d'expiration :
                <br>
                <input name="cardDate" type="date"/>
            </label>
            <br>
            <label>
                CVV :
                <br>
                <input name="cardCVV"/>
            </label>
            <br>
            <input type="submit" value="Payer"/>
            <a href="/payment/cancel?redirectUrl={{ cancel }}&operationId={{ operationId }}">Refuser</a>
        </form>
    </body>
</html>
